{% extends 'base.html' %}
{% load static %}

{% block navtitle %}
  Master Data ERP
{% endblock navtitle %}

{% block navcontent %}
    
{% endblock navcontent %}

{% block extranav %}
  
{% endblock extranav %}

{% block navattr %}
  
{% endblock navattr %}

{% block contenttitle %}
  Master Data {{card_title}}
{% endblock contenttitle %}

{% block contentheader %}
  
{% endblock contentheader %}

{% block contents %}
      
{% endblock contents %}

{% block extrascript %}

{% endblock extrascript %}



