{% extends "employee/parent_list.html" %}

  {% block table_header %}
    <th scope="col">Name</th>
    <th scope="col">Base Salary</th>
    <th scope="col">Transport</th>
    <th scope="col">Family Incentive</th>
    <th scope="col">BPJS Cut</th>
    <th scope="col">THP</th>
  {% endblock table_header %}

  {% block table_footer %}
  <th scope="col">Name</th>
  <th scope="col">Base Salary</th>
  <th scope="col">Transport</th>
  <th scope="col">Family Incentive</th>
  <th scope="col">BPJS Cut</th>
  <th scope="col">THP</th>
  {% endblock table_footer %}